@media (min-width: 901px) {
    .mobileBreakPoint {
        display: none;
    }
}

@media (max-width: 901px) {
    .tabletBreakPoint {
        display: none;
    }
}

@media (min-width: 770px) {
/* used in FeatureBrand > CartItem */
    .responsiveWidth-Height {
        width: 250px;
        height: 175px;
    }
}
@media (max-width: 770px) {
    /* used in FeatureBrand > CartItem */
    .responsiveWidth-Height {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 250px;
    }
}